/* SP用のスタイル（デフォルト） */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8); /* 背景透過 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
}

.logo {
  width: 45%;
}

.nav-links {
  list-style: none;
  display: none; /* SPでは非表示 */
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
}
/* SP */
@media (max-width: 1023px) {
  .nav-links {
    position: absolute;
    top: 4.3rem;
    right: 0;
    width: 100%;
  }
}

.nav-links.show {
  display: flex;
}

.nav-links li {
  border-bottom: 1px solid #eaeaea;
}

.nav-links li a {
  font-size: 1.2rem;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
  display: block;
}

.menu-toggle {
  display: block;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

/* PC用のスタイル */
@media (min-width: 1024px) {
  nav {
    padding: 1rem 2rem;
    box-sizing: border-box;
    height: 80px;
  }
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    width: 240px;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    padding: 0;
  }

  .nav-links li {
    display: inline;
    padding: 1rem 0;
    font-size: 1.375rem;
    border-bottom: none;
  }

  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  .nav-links a:hover {
    text-decoration: underline;
  }

  .menu-toggle {
    display: none; /* PCではハンバーガーメニューを非表示 */
  }
}
